<strong>hola! {%%NAME%%}, {%%LASTNAME%%} Gracias por tu contacto.</strong>
<br>Es muy valioso para mi tus comentarios:
<br>
{%%COMMENTS%%}
<br> en breve me comunico contigo
<br>
<br> Tú empresa es: {%%COMPANY%%}
<br> Tú cargo es: {%%POSITION%%}
<br><br> Saludos, Alejandro Landini
<br>
<hr><br>
<strong>Hi! {%%NAME%%}, {%%LASTNAME%%} Thank you for your contact.</strong>
<br>Your comments are very valuable to me:<br>
{%%COMMENTS%%}
<br> I will contact you shortly
<br>
<br> your company is:  {%%COMPANY%%}
<br> your position is: {%%POSITION%%}
<br><br> Greetings, Alejandro Landin