<strong>Hola! El siguiente correo: <a href=mailto:{%%MAILTO%%}>{%%MAILTO%%}</a> envió una solicitud de
    información</strong>
<br>Sobre el producto: {%%PRODUCT%%}
<br> Agradezco mucho tú interes, en breve me comunico contigo<br>
<br><br> Saludos, Alejandro Landini
<br>
<hr><br>
<strong>Hi! The following email: <a href=mailto:{%%MAILTO%%}>{%%MAILTO%%}</a> sent a request for information</strong>
<br> About the product: {%%PRODUCT%%}
<br> I appreciate your interest, I will contact you shortly<br>
<br><br> Greetings, Alejandro Landini